###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.docker/data/mysql/
.idea/
*.DS_Store
composer.phar
!public/media/.gitkeep
/public/media/
/node_modules/
